i{
    font-size: 20px;
    color: white;
    margin-left: 15px;
    cursor: pointer;
    float: right;
}


#userIcon{
    font-size: 35px;
}

img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.col{
    text-align: center;
    border-radius: 10px;
}

#col:hover{
    background: palegreen;
}

#userImage{
    width: 100px;
    height: 100px;
}