<input type="checkbox" id="check">
<label for="check">
  <i class="bi bi-list" id="btn"></i>
  <i class="bi bi-x-lg" id="cancel"></i>
</label>
<div class="sidebar">
  <header>Options</header>
  <!-- <div class="card" id="addbuttonDiv">
    <button type="button" onclick="window.location.href = 'http://localhost:4200/Contacts/add';" class="btn btn-success btn-lg" id="addButton" >+Add Contact</button>
    <button type="button" class="btn btn-success btn-lg" id="addButton" >+Add Contact</button>
  </div> -->
  <ul>
    <li><a href="http://localhost:4200/Contacts"><i class="bi bi-person"></i>Contacts</a></li>
    <li><a href="http://localhost:4200/Contacts/favourites"><i class="bi bi-star" ></i>Favourites</a></li>
    <li><a href="http://localhost:4200/Contacts/hiddens"><i class="bi bi-eye-slash"></i>Hidden List</a></li>
    <li><a href="http://localhost:4200/Contacts/blockeds"><i class="bi bi-telephone-x"></i>Block List</a></li>
  </ul>
  
</div>

  